<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PKP75DD');</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V1N1H1JK4L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V1N1H1JK4L');
</script>



<script>

  function sendInfoEvent(artikelnamn, lastid) {
        gtag('event', 'read_article', {
        "artikelnamn": artikelnamn,
        "lastid": lastid,
        });
    }
  
     document.addEventListener("DOMContentLoaded", () => {

        const readArticle1Button = document.getElementById("read-article-1");
    
        if(readArticle1Button) {

            readArticle1Button.addEventListener("click", () => {
            sendInfoEvent("Nathalie", 9)
             });

            document.getElementById("read-article-2").addEventListener("click", () => {
            sendInfoEvent("Nathalies", 20)
            });
        }

  
    });
  
 console.log("please try me");
    
</script>
